@page "/manage/enable-authenticator"
@model EnableAuthenticatorModel
@inject IViewLocalizer localizer;

@{
    var title = localizer["Configure authenticator app"];

    ViewData[KnownViewData.Title] = title;
    ViewData[KnownViewData.PageGroup] = ManageNavPages.TwoFactorAuthentication;
}

<div class="page">
    <div class="page-heading">
        <div class="page-container">
            <a class="page-back" asp-page="./TwoFactorAuthentication">
                <span class="bi-arrow-left" aria-hidden="true"></span>
                <span>@localizer["Two-factor authentication (2FA)"]</span>
            </a>
        </div>
    </div>
    <div class="page-container">
        <div class="page-card">
            <div class="page-card-header">
                <div class="page-card-title">@title</div>
            </div>
            <div class="page-card-content col-sm-10">
                @if (TempData["AuthenticationKeyResetSucceeded"] is true)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        @localizer["Your authenticator app key has been reset. You will need to configure your authenticator app using the new key"]
                    </div>
                }

                <p class="mb-4">
                    @localizer["To use an authenticator app go through the following steps:"]
                </p>

                <ol class="steps-list">
                    <li>
                        <div class="container-fluid">
                            <p class="form-label mb-0">
                                @localizer["Download a two-factor authenticator app"]
                            </p>
                            <p>
                                <span>@localizer["Sugested apps:"]</span>
                            </p>
                            <div class="border rounded shadow-sm p-2 mb-2">
                                <div class="row align-items-center">
                                    <div class="col-sm-auto mb-2 mb-sm-0 mr-sm-2">
                                        <a class="btn btn-sm btn-outline-primary" href="https://go.microsoft.com/fwlink/?Linkid=825072">
                                            <span>Android</span>
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" href="https://go.microsoft.com/fwlink/?Linkid=825073">
                                            <span>iOS</span>
                                        </a>
                                    </div>
                                    <div class="col-sm-auto">
                                        Microsoft Authenticator
                                    </div>
                                </div>
                            </div>

                            <div class="border rounded shadow-sm p-2">
                                <div class="row align-items-center">
                                    <div class="col-sm-auto mb-2 mb-sm-0 mr-sm-2">
                                        <a class="btn btn-sm btn-outline-primary" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">
                                            <span>Android</span>
                                        </a>
                                        <a class="btn btn-sm btn-outline-primary" href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">
                                            <span>iOS</span>
                                        </a>
                                    </div>
                                    <div class="col-sm-auto">
                                        Google Authenticator
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <p class="form-label mb-0">
                                @localizer["Open the authenticator app"]
                            </p>
                            <div class="row">
                                <div class="col-sm mb-2">
                                    @localizer["Scan the QR Code or enter the key {0} into your two factor authenticator app. Spaces and casing do not matter.", Html.Raw($"<kbd>{Model.SharedKey}</kbd>")]
                                </div>
                                <div class="col-sm-auto mb-2">
                                    <div id="qrCode"></div>
                                    <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container-fluid">
                            <p class="form-label mb-0">
                                @localizer["Enter the code"]
                            </p>
                            <p>
                                @localizer["Once you have scanned the QR Code or input the key above, your two factor authentication app will provide you with a unique code. Enter the code in the confirmation form below."]
                            </p>
                            <form id="send-code" method="post" loading="loading">
                                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

                                <div class="form-group">
                                    <label class="form-label" asp-for="Input.Code">@localizer["Verification code"]</label>
                                    <input class="form-control" asp-for="Input.Code" autocomplete="off" />
                                    <span class="d-block form-text text-danger" asp-validation-for="Input.Code"></span>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">@localizer["Verify"]</button>

                                    <div class="spinner-border spinner-border-sm text-primary" role="status" id="loading" style="display: none;">
                                        <span class="sr-only">@localizer["Loading..."]</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/lib/qrcode/qrcode.min.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}
