@page "/manage/recovery-codes"
@model GenerateRecoveryCodesModel
@inject IViewLocalizer localizer;

@{
    var title = localizer["Generate recovery codes"];

    ViewData[KnownViewData.Title] = title;
    ViewData[KnownViewData.PageGroup] = ManageNavPages.TwoFactorAuthentication;
}

<div class="page">
    <div class="page-heading">
        <div class="page-container">
            <a class="page-back" asp-page="./TwoFactorAuthentication">
                <span class="bi-arrow-left" aria-hidden="true"></span>
                <span>@localizer["Two-factor authentication (2FA)"]</span>
            </a>
        </div>
    </div>
    <div class="page-container">
        <div class="page-card">
            <div class="page-card-header">
                <div class="page-card-title">@title</div>
            </div>
            <div class="page-card-content col-sm-8">
                <div class="alert alert-warning" role="alert">
                    <div class="row align-items-center">
                        <div class="col-md">
                            @localizer["Generating new recovery codes does not change the keys used in authenticator apps. If you wish to change the key used in an authenticator app you should reset your authenticator keys"].
                        </div>
                        <div class="col-md-auto">
                            <a class="btn btn-success" asp-page="./ResetAuthenticator">@localizer["Reset"]</a>
                        </div>
                    </div>
                </div>

                <form method="post" class="form-group" loading="loading">
                    <button class="btn btn-danger" type="submit">@localizer["Generate recovery codes"]</button>

                    <div class="spinner-border spinner-border-sm text-primary" role="status" id="loading" style="display: none;">
                        <span class="sr-only">@localizer["Loading..."]</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
