@using static OpenIddict.Abstractions.OpenIddictConstants;
@model ManageApplicationCommand
@inject IViewLocalizer localizer

@{
    var title = localizer[(string)ViewData[KnownViewData.Title]];
    var returnUrl = ViewData[KnownViewData.ReturnUrl];
    var returnTitle = localizer[(string)ViewData[KnownViewData.ReturnTitle]];
}

<div class="page">
    <div class="page-heading">
        <div class="page-container">
            <a class="page-back" href="@returnUrl">
                <span class="bi-arrow-left" aria-hidden="true"></span>
                <span>@returnTitle</span>
            </a>
        </div>
    </div>
    <div class="page-container">
        <div class="page-card">
            <div class="page-card-header">
                <h1 class="page-card-title">@title</h1>
            </div>
            <div class="page-card-content">
                <form method="POST" loading="loading">

                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

                    <div class="mb-3">
                        <label asp-for="DisplayName" class="form-label">@localizer["Name"]</label>
                        <input asp-for="DisplayName" class="form-control" autofocus />
                        <span asp-validation-for="DisplayName" class="d-block form-text text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Type" class="form-label">@localizer["Type"]</label>
                        <select asp-for="Type" class="custom-select">
                            <option value="@ClientTypes.Confidential">@localizer["Confidential"]</option>
                            <option value="@ClientTypes.Public">@localizer["Public"]</option>
                        </select>
                        <span asp-validation-for="Type" class="d-block form-text text-danger"></span>
                        <ul class="form-text text-justify">
                            <li>@localizer["Use confidential for applications that can hold secrets secure, mainly those that runs on the server, like server-side web apps, web APIs"]</li>
                            <li>@localizer["Use public for applications that are not trusted to keep secrets secure, mainly those that runs directly on devices, desktop computers or browsers"]</li>
                        </ul>
                    </div>

                    <div class="mb-3">
                        <label asp-for="AllowedScopes" class="form-label">@localizer["Allowed Scopes"]</label>
                        <input asp-for="AllowedScopes" class="form-control" />
                        <span class="form-text">@localizer["List of scopes"]</span>
                        <span asp-validation-for="AllowedScopes" class="d-block form-text text-danger"></span>
                    </div>

                    <hr class="text-muted" />

                    <h3 class="h4 my-3">@localizer["Allowed Flows"]</h3>

                    <div class="mb-4 d-flex flex-column">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" asp-for="AllowAuthorizationCodeFlow" checked="@Model.AllowAuthorizationCodeFlow" />
                            <label class="custom-control-label form-label" asp-for="AllowAuthorizationCodeFlow">@localizer["Allow Authorization Code Flow"] <small>(<a href="https://tools.ietf.org/html/rfc7636" target="_blank">@localizer["with PKCE"]</a>)</small></label>
                        </div>
                        <span class="d-block form-text ml-4 mt-0">@localizer["Recommended for server-side web applications, single page applications (SPAs), mobile apps"]</span>
                        <small><a class="d-inline-block ml-4 mt-1" href="https://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth" target="_blank">@localizer["Specification"]</a></small>
                    </div>

                    <div class="mb-4 d-flex flex-column">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" asp-for="AllowImplicitFlow" checked="@Model.AllowImplicitFlow">
                            <label class="custom-control-label form-label" asp-for="AllowImplicitFlow">@localizer["Allow Implicit Flow"]</label>
                        </div>
                        <span class="d-block form-text ml-4 mt-0">@localizer["Previously recommended for native apps or javascript apps. Always use Authorization Code instead if possible"]</span>
                        <small><a class="d-inline-block ml-4 mt-1" href="https://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth" target="_blank">@localizer["Specification"]</a></small>
                    </div>

                    <div class="mb-4 d-flex flex-column">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" asp-for="AllowPasswordFlow" checked="@Model.AllowPasswordFlow">
                            <label class="custom-control-label form-label" asp-for="AllowPasswordFlow">@localizer["Allow Resource Owner Password Flow"]</label>
                        </div>
                        <span class="d-block form-text ml-4 mt-0">@localizer["Only recommended if redirect-based flows (like Authorization Code) are not possible"]</span>
                        <small><a class="d-inline-block ml-4 mt-1" href="https://tools.ietf.org/html/rfc6749#section-1.3.3" target="_blank">@localizer["Specification"]</a></small>
                    </div>

                    <div class="mb-4 d-flex flex-column">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" asp-for="AllowClientCredentialsFlow" checked="@Model.AllowClientCredentialsFlow">
                            <label class="custom-control-label form-label" asp-for="AllowClientCredentialsFlow">@localizer["Allow Client Credentials Flow"]</label>
                        </div>
                        <span class="d-block form-text ml-4 mt-0">@localizer["Recommended when the application itself is the resource owner, like a machine-to-machine comunication, jobs"]</span>
                        <small><a class="d-inline-block ml-4 mt-1" href="https://tools.ietf.org/html/rfc6749#section-1.3.4" target="_blank">@localizer["Specification"]</a></small>
                    </div>

                    <div class="mb-4 d-flex flex-column">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" asp-for="AllowRefreshTokenFlow" data-toggle="collapse" data-target="#AllowRefreshTokenFlowRecommendedHint" checked="@Model.AllowRefreshTokenFlow" disabled=@((Model.AllowPasswordFlow || Model.AllowAuthorizationCodeFlow) ? null : "")>
                            <label class="custom-control-label form-label" asp-for="AllowRefreshTokenFlow">@localizer["Allow Refresh Token Flow"]</label>
                        </div>
                        <span class="d-block form-text ml-4 mt-0">@localizer["Allows the application to exchange an access token when the token expires, without a new user interaction"]</span>
                        <small><a class="d-inline-block ml-4 mt-1" href="https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokens" target="_blank">@localizer["Specification"]</a></small>
                    </div>

                    <hr class="text-muted" />

                    <h3 class="h4 my-3">@localizer["Configurations"]</h3>

                    <div class="mb-4">
                        <label asp-for="RedirectUris" class="form-label">@localizer["Redirect Uris"]</label>
                        <input asp-for="RedirectUris" class="form-control" />
                        <span class="form-text">@localizer["List of URIs"]</span>
                        <span asp-validation-for="RedirectUris" class="d-block form-text text-danger"></span>
                    </div>

                    <div class="mb-2">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" asp-for="AllowLogoutEndpoint" checked="@Model.AllowLogoutEndpoint">
                            <label class="custom-control-label form-label" asp-for="AllowLogoutEndpoint">@localizer["Allow Logout Endpoint"]</label>
                        </div>
                    </div>

                    <div class="mb-4 ml-4">
                        <label asp-for="PostLogoutRedirectUris" class="form-label">@localizer["Logout Redirect Uris"]</label>
                        <input asp-for="PostLogoutRedirectUris" class="form-control" />
                        <span class="form-text">@localizer["List of URIs"]</span>
                        <span asp-validation-for="PostLogoutRedirectUris" class="d-block form-text text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <label asp-for="ConsentType" class="form-label">@localizer["Consent type"]</label>
                        <select asp-for="ConsentType" class="custom-select">
                            <option value="@ConsentTypes.Explicit">@localizer["Explicit"]</option>
                            <option value="@ConsentTypes.Implicit">@localizer["Implicit"]</option>
                            <option value="@ConsentTypes.External">@localizer["External"]</option>
                        </select>
                        <ul class="form-text text-justify">
                            <li>@localizer["Explicit"]: @localizer["The authorization request must be approved by the end user"]. <strong>@localizer["Recommended option"]</strong></li>
                            <li>@localizer["Implicit"]: @localizer["The authorization request is assumed to be pre-approved and no consent form is displayed"]</li>
                            <li>@localizer["External"]: @localizer["The authorization request is rejected unless a pre-existing authorization (granted programmatically) already exists"]</li>
                        </ul>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">@localizer["Save"]</button>
                        <a class="btn btn-secondary" role="button" href="@returnUrl">@localizer["Cancel"]</a>

                        <div class="spinner-border spinner-border-sm text-primary" role="status" id="loading" style="display: none;">
                            <span class="sr-only">@localizer["Loading..."]</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
