@inject IViewLocalizer localizer
@model AssignPermissionsToRoleCommand

@{
    var applications = Model.AvailableApplications.Select(application => new SelectListItem(
        application.Name,
        application.Id,
        string.Equals(application.Id, Model.ApplicationId, StringComparison.InvariantCultureIgnoreCase)));
}

<div class="modal-header">
    <h5 class="modal-title" id="permission-modal-label">@localizer["Assign permissions"]</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" loading="permission-loading">
    <div class="modal-body">
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

        <div class="mb-3">
            <label class="form-label" for="applicationId">@localizer["Application"]</label>
            <select class="custom-select" asp-items="applications" id="applicationId" name="applicationId" autofocus data-application-change="@Url.RouteUrl(RouteNames.RolePermissionsAdd, new { Model.RoleId })">
            </select>
        </div>

        @{
            var permissionNumber = 0;
        }

        @if (Model.Permissions.Any())
        {
            @foreach (var permission in Model.Permissions)
            {
                var identifier = $"{nameof(Model.Permissions)}[{permissionNumber}]";
                var selectedIdentifier = $"{identifier}.Selected";
                var idIdentifier = $"{identifier}.Id";
                var nameIdentifier = $"{identifier}.Name";

                <div class="mb-2">
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" id="@selectedIdentifier" name="@selectedIdentifier" value="true" checked="@permission.Selected" disabled="@permission.Selected" />
                        <label class="custom-control-label form-label" for="@selectedIdentifier">@permission.Name</label>
                        <input type="hidden" name="@idIdentifier" value="@permission.Id" />
                        <input type="hidden" name="@nameIdentifier" value="@permission.Name" />
                        <input type="hidden" name="@selectedIdentifier" value="false" />
                    </div>
                </div>

                permissionNumber += 1;
            }
        }
        else
        {
            <div class="text-center text-muted mb-3 mt-4">
                <span class="bi-exclamation-circle" aria-hidden="true"></span>
                <span>@localizer["No permissions found"]</span>
            </div>
        }
    </div>

    <div class="modal-footer">
        <div class="spinner-border spinner-border-sm text-primary" role="status" id="permission-loading" style="display: none;">
            <span class="sr-only">@localizer["Loading..."]</span>
        </div>

        <button type="submit" class="btn btn-primary">@localizer["Save"]</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>
