@inject IViewLocalizer localizer;
@model LogoutViewModel

@{
    var title = localizer["Log out"];

    ViewData[KnownViewData.Title] = title;
}

<div class="page">
    <div class="page-heading">
        <div class="page-container">

        </div>
    </div>
    <div class="page-container">
        <div class="page-card">
            <div class="page-card-header">
                <h1 class="page-card-title">@title</h1>
            </div>
            <div class="page-card-content">
                <p class="mb-4">
                    @localizer["Are you sure you want to sign out?"]
                </p>

                <form asp-controller="Authorization" asp-action="Logout" method="post" loading="loading">
                    @foreach (var parameter in Model.RequestParameters)
                    {
                        <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
                    }

                    <div class="form-group">
                        <input class="btn btn-primary" name="Confirm" type="submit" value="@localizer["Yes"]" />

                        <div class="spinner-border spinner-border-sm text-primary" role="status" id="loading" style="display: none;">
                            <span class="sr-only">@localizer["Loading..."]</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
