@using System.Globalization;

@{
    var title = "Auth Admin";
    var language = CultureInfo.CurrentCulture.Name;
}

<!DOCTYPE html>
<html lang="@language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/tagify/tagify.min.css" />
    <link rel="stylesheet" href="~/lib/nocturne-auth-server/nocturne-auth-server.css" asp-append-version="true" />
</head>
<body>
    <div class="im-layout">
        <header class="im-layout-header">
            <nav class="im-navbar">
                <div class="im-navbar-brand">
                    <button class="im-navbar-toggle me-2" im-sidenav-toggle="_sidenav">
                        <span class="bi-list" aria-hidden="true"></span>
                    </button>
                    <div class="im-logo-wrapper">
                        <img class="im-logo" src="~/logo.svg" alt="logo" role="img" />
                    </div>
                    <h1 class="im-navbar-title">@title</h1>
                </div>
            </nav>
        </header>
        <aside class="im-sidenav" id="_sidenav">
            <div class="im-sidenav-brand">
                <div class="im-logo-wrapper me-2">
                    <img class="im-logo" src="~/logo.svg" alt="logo" role="img" />
                </div>
                <h1 class="im-navbar-title">@title</h1>
            </div>
            <nav class="im-sidenav-content">
                @for (var i = 0; i < 6; i++)
                {
                    var active = i == 1 ? " is-active" : "";
                    <a class="im-sidebar-item @active" href="/applications/new">
                        <span class="bi-window im-sidenav-icon" aria-hidden="true"></span>
                        <span class="ms-2">Applications</span>
                    </a>
                }
            </nav>
        </aside>
        <main class="im-layout-main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/nocturne-auth-server/nocturne-auth-server.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/tagify/tagify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
