@inject IViewLocalizer localizer

<a class="sidebar-item @IsActiveItem(PageGroups.Home)" href="~/">
    <span class="bi-house sidenav-icon mr-2" aria-hidden="true"></span>
    <span>@localizer["Home page"]</span>
</a>

<a class="sidebar-item @IsActiveItem(PageGroups.Applications)" asp-route="@RouteNames.ApplicationsHome">
    <span class="bi-window sidenav-icon mr-2" aria-hidden="true"></span>
    <span>@localizer["Applications"]</span>
</a>

@functions
{
    private string IsActiveItem(string pageGroup)
        => ViewData[KnownViewData.PageGroup] as string == pageGroup ? "is-active" : string.Empty;
}
