@using System.Globalization;
@inject IViewLocalizer localizer;
@inject WebAssets assets;
@inject IOptions<WebApplicationOptions> applicationOptionsService;

@{
    var applicationOptions = applicationOptionsService.Value;

    var applicationName = applicationOptions.ApplicationName;
    var language = CultureInfo.CurrentCulture.Name;

    var menuPath = ViewData[KnownViewData.MenuPath] as string;
    var hasMenu = !string.IsNullOrEmpty(menuPath);
}

<!DOCTYPE html>
<html lang="@language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="./_CookieConsent" />
    <title>@ViewData[KnownViewData.Title] - @applicationName</title>
    <link rel="stylesheet" href="@assets.Url("bootstrap/bootstrap.min.css")" />
    <link rel="stylesheet" href="@assets.Url("bootstrap-icons/bootstrap-icons.min.css")" />
    <link rel="stylesheet" href="@assets.Url("impromptu/impromptu.min.css")" />
    <link rel="stylesheet" href="@assets.Url("cookieconsent/cookieconsent.min.css")" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="layout">
        <header class="layout-header">
            <nav class="navbar">
                <div class="navbar-brand">
                    @if (hasMenu)
                    {
                        <button class="navbar-toggle mr-2" sidenav-toggle="_sidenav">
                            <span class="bi-list" aria-hidden="true"></span>
                        </button>
                    }
                    <img class="navbar-logo mr-2" src="~/logo.svg" alt="logo" role="img" />
                    <h1 class="navbar-title">@applicationName</h1>
                </div>
                <div class="ml-auto">
                    <partial name="./_User" />
                </div>
            </nav>
        </header>
        @if (hasMenu)
        {
            <aside class="sidenav layout-sidenav" id="_sidenav">
                <nav class="sidenav-content">
                    <partial name="@menuPath" />
                </nav>
            </aside>
        }
        <main class="layout-main pb-3">
            @RenderBody()
        </main>
        <partial name="./_Footer" />
    </div>

    <script src="@assets.Url("impromptu/impromptu.min.js")"></script>
    <script src="@assets.Url("jquery/jquery.min.js")"></script>
    <script src="@assets.Url("bootstrap/bootstrap.bundle.min.js")"></script>
    <script src="@assets.Url("jquery-validation/jquery.validate.min.js")"></script>
    <script src="@assets.Url("jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@assets.Url("cookieconsent/cookieconsent.min.js")"></script>
    <script src="@assets.Url("cookieconsent/cookieconsent-default.min.js")"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
