@using System.Globalization;
@inject IViewLocalizer localizer;
@inject WebAssets assets;
@inject IOptions<ServerApplicationOptions> ApplicationOptions;

@{
    var applicationOptions = ApplicationOptions.Value;

    var language = CultureInfo.CurrentCulture.Name;
    var applicationName = applicationOptions.ApplicationName;
}

<!DOCTYPE html>
<html lang="@language">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="./_CookieConsent" />
    <title>@ViewData[KnownViewData.Title] - @applicationName</title>
    <link rel="stylesheet" href="~/dist/bootstrap/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/bootstrap-icons/bootstrap-icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/nocturne-auth-server/main.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/nocturne-auth-server/login.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/cookieconsent/cookieconsent.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="login-body">
    @if (applicationOptions.LoginBackground.HasImageUrl)
    {
        <img src="@applicationOptions.LoginBackground.ImageUrl" class="login-background" />
    }
    <div class="layout">
        <header class="layout-header">
            <nav class="navbar">
                <div class="navbar-brand">
                    <img class="navbar-logo mr-2" src="~/logo.svg" alt="logo" role="img" />
                    <h1 class="navbar-title">@applicationName</h1>
                </div>
            </nav>
        </header>
        <main class="layout-main">
            <div class="login-container">
                <aside class="login-aside-container">
                    <div class="login-aside-background" aria-hidden="true"></div>
                    <div class="login-aside">
                        <img class="login-application-logo" src="~/logo.svg" alt="Logo" />
                        <span class="login-application-title">@applicationName</span>
                        <img class="login-application-image" src="~/img/authentication.svg" alt="Authentication" />
                        @if (applicationOptions.LoginBackground.HasImageAttribution)
                        {
                            <span class="login-background-attribution mt-auto">
                                @localizer["Background image by"] @Html.Raw(applicationOptions.LoginBackground.ImageAttribution)
                            </span>
                        }
                    </div>
                </aside>

                <div class="login-content-container">
                    <div class="login-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="~/dist/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/dist/imask/imask.min.js" asp-append-version="true"></script>
    <script src="~/dist/bootstrap/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/dist/cookieconsent/cookieconsent.min.js" asp-append-version="true"></script>
    <script src="~/dist/cookieconsent/cookieconsent-default.min.js" asp-append-version="true"></script>
    <script src="~/dist/jquery-validation/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/dist/jquery-validation/additional-methods.min.js" asp-append-version="true"></script>
    <script src="~/dist/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/dist/nocturne-auth-server/main.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
