@inject IViewLocalizer localizer
@model ApplicationPermissionsViewModel

@if (Model.Permissions.Any())
{
    <div class="table-responsive">
        <table class="table page-table">
            <thead>
                <tr>
                    <th></th>
                    <th>@localizer["Name"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var permission in Model.Permissions)
                {
                    var menuId = $"permission-menu-{permission.Id}";

                    <tr>
                        <td class="w-min">
                            <button class="btn btn-outline-primary" type="button" id="@menuId" data-toggle="dropdown" title="@localizer["Open menu"]" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">@localizer["Open menu"]</span>
                                <span class="bi-three-dots-vertical" aria-hidden="true"></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="@menuId">
                                <button class="dropdown-item" type="button" data-permission-action="@Url.RouteUrl(RouteNames.ApplicationPermissionsEdit, new { Model.ApplicationId, permission.Id })">
                                    <span class="bi-pencil mr-2" aria-hidden="true"></span>
                                    <span>@localizer["Edit"]</span>
                                </button>
                                <button class="dropdown-item" type="button" data-permission-action="@Url.RouteUrl(RouteNames.ApplicationPermissionsView, new { Model.ApplicationId, permission.Id })">
                                    <span class="bi-info-circle mr-2" aria-hidden="true"></span>
                                    <span>@localizer["Details"]</span>
                                </button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item text-danger" type="button">
                                    <span class="bi-trash mr-2" aria-hidden="true"></span>
                                    <span>@localizer["Delete"]</span>
                                </button>
                            </div>
                        </td>
                        <td>@permission.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="empty mt-3" role="status">
        <span class="bi-shield-lock empty-icon" aria-hidden="true"></span>
        <p class="empty-text">@localizer["No permissions found"]</p>
    </div>
}
