@page "/account/email-change/verify"
@model ConfirmEmailChangeModel
@inject IViewLocalizer localizer

@{
    var title = localizer["Email change confirmation"];

    ViewData[KnownViewData.Title] = title;
}

<h1 class="login-content-title">@title</h1>

<div class="login-form-box">
    @if (Model.Success)
    {
        <div class="alert alert-success" role="alert">
            @localizer["Thank you for confirming your email change."]
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }

    <div class="form-group mt-5">
        <a class="btn btn-primary" asp-route="@RouteNames.Home">
            <span class="bi-arrow-left" aria-hidden="true"></span>
            @localizer["Back to home page"]
        </a>
    </div>
</div>
