@page "/account/forgot-password"
@model ForgotPasswordModel
@inject IViewLocalizer localizer

@{
    var title = localizer["Forgot my password"];

    ViewData[KnownViewData.Title] = title;
}

<h1 class="login-content-title">@title</h1>

<form class="login-form-box" method="post" loading="loading">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

    <p>@localizer["To request a password reset, enter the email associated with your account."]</p>

    <div class="form-group">
        <label class="form-label" asp-for="Input.Email">@localizer["Email"]</label>
        <input class="form-control" asp-for="Input.Email" autofocus />
        <span class="d-block form-text text-danger" asp-validation-for="Input.Email"></span>
    </div>

    <div class="form-group mt-5">
        <button type="submit" class="btn btn-primary">
            @localizer["Confirm"]
        </button>
        <a class="btn btn-secondary" href="@Model.ReturnUrl">
            @localizer["Cancel"]
        </a>
        <div class="spinner-border spinner-border-sm ml-2" role="status" id="loading" style="display: none;">
            <span class="sr-only">@localizer["Loading..."]</span>
        </div>
    </div>
</form>
