@page "/account/signin/recovery-code"
@model LoginWithRecoveryCodeModel
@inject IViewLocalizer localizer

@{
    var title = localizer["Recovery code verification"];

    ViewData[KnownViewData.Title] = title;
}

<h1 class="login-content-title">@title</h1>

<section class="login-form-box">
    <form method="post" loading="loading">
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

        <p>@localizer["You have requested to log in with a recovery code. This login will not be remembered until you provide an authenticator app code at log in or disable 2FA and log in again."]</p>

        <div class="form-group">
            <label class="form-label" asp-for="Input.RecoveryCode">@localizer["Recovery code"]</label>
            <input class="form-control" asp-for="Input.RecoveryCode" autocomplete="off" />
            <span class="d-block form-text text-danger" asp-validation-for="Input.RecoveryCode"></span>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">
                @localizer["Log in"]
            </button>
            <div class="spinner-border spinner-border-sm ml-2" role="status" id="loading" style="display: none;">
                <span class="sr-only">@localizer["Loading..."]</span>
            </div>
        </div>
    </form>
</section>
