@page "/account/register/confirm"
@model RegisterConfirmationModel
@inject IViewLocalizer localizer

@{
    var title = localizer["Register confirmation"];

    ViewData[KnownViewData.Title] = title;
}

<h1 class="login-content-title">@title</h1>

<div class="login-form-box">
    <div class="alert alert-success mt-2" role="alert">
        @localizer["Email sent"]
    </div>

    <p>@localizer["To finalize your registration, please check your email to confirm your account."]</p>

    <div class="form-group mt-5">
        <a class="btn btn-primary" asp-route="@RouteNames.Home">
            <span class="bi-arrow-left" aria-hidden="true"></span>
            @localizer["Back to home page"]
        </a>
    </div>
</div>
