@page "/account/password-reset"
@model ResetPasswordModel
@inject IViewLocalizer localizer

@{
    var title = localizer["Reset password"];

    ViewData[KnownViewData.Title] = title;
}

<h1 class="login-content-title">@title</h1>

<form class="login-form-box" method="post" loading="loading">
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>

    <input asp-for="Input.Code" type="hidden" />

    <div class="form-group">
        <label class="form-label" asp-for="Input.Email">@localizer["Email"]</label>
        <input class="form-control" asp-for="Input.Email" autofocus />
        <span class="d-block form-text text-danger" asp-validation-for="Input.Email"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Input.Password">@localizer["Password"]</label>
        <input class="form-control" asp-for="Input.Password" />
        <span class="d-block form-text text-danger" asp-validation-for="Input.Password"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Input.ConfirmPassword">@localizer["Confirm password"]</label>
        <input class="form-control" asp-for="Input.ConfirmPassword" />
        <span class="d-block form-text text-danger" asp-validation-for="Input.ConfirmPassword"></span>
    </div>

    <div class="form-group mt-5">
        <button type="submit" class="btn btn-primary">
            @localizer["Reset"]
        </button>
        <a class="btn btn-secondary" asp-route="@RouteNames.Home">
            @localizer["Cancel"]
        </a>
        <div class="spinner-border spinner-border-sm ml-2" role="status" id="loading" style="display: none;">
            <span class="sr-only">@localizer["Loading..."]</span>
        </div>
    </div>
</form>
