<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ Title }}</title>
</head>
<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
     <table align="center" border="0" cellpadding="0" cellspacing="0" width="70%">
       <tr>
         <td bgcolor="#ffffff" style="color: #153643; padding: 16px 16px 16px 16px; font-family: Arial, sans-serif; font-size: 18px;">
           {% if CompanyLogoUrl != null and CompanyLogoUrl != "" %}
           <img src="{{ CompanyLogoUrl }}" alt="Logo" style="margin-right: 12px;" />
           {% endif %}
           <b>{{ CompanyName }}</b>
         </td>
       </tr>
       <tr>
         <td bgcolor="#1b6ec2" style="color: #ffffff; padding: 12px 16px 12px 16px; font-family: Arial, sans-serif; font-size: 18px;">
          <b>{{ ApplicationName }}</b>
         </td>
       </tr>
       <tr>
         <td bgcolor="#ffffff" style="padding: 40px 28px 40px 28px;">
            <table border="0">
              <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px;">
                  <b>{{ Title }}</b>
                </td>
              </tr>
              <tr>
                <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; padding: 20px 0px 30px 0px;">
                  {% renderbody %}
                </td>
              </tr>
            </table>
          </td>
       </tr>
       {% if CompanyInfo != null and CompanyInfo != "" %}
       <tr>
         <td align="right" bgcolor="#f5f5f5" style="color: #153643; padding: 16px 16px 16px 16px; font-family: Arial, sans-serif; font-size: 12px;">
            {{ CompanyInfo }}
          </td>
       </tr>
       {% endif %}
     </table>
   </td>
  </tr>
 </table>
</body>
</html>
